body {
    background-color: var(--bg-color);
}

#add-smartphone {
    position: relative;
    background-color: var(--bg-color);
    border: 0.2rem solid var(--dark-color);

    padding: 2rem;

    height: 50%;
}

#add-smartphone > label {
    display: inline-block;
    line-height: 4rem;
    min-width: 40%;
}

#add-smartphone > input {
    line-height: 2rem;
    font-size: 0.8rem;

    min-width: 50%;
    border-radius: 0 !important;
    border: 0.2rem solid var(--dark-color);
}

#form-title {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--bg-color);
    padding: 0 10px;
}

#form-actions {
    display: flex;
    justify-content: center;

    margin-top: 1.6rem;
    column-gap: 1.6rem;
}

form > span {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
}