{% extends "base.njk" %}
{% block title %}
    Adicionar Celular - Desafio Ditavia
{% endblock %}

{% block content %}
    <span>O celular {{smartphone.model}} de id {{smartphone._id}} foi criado com sucesso!</span>
    <button class="action-button">
        <a href="/">Home</a>
    </button>
{% endblock %}