{% extends "base.njk" %}
{% block title %}
    Celular Deletado - Desafio Ditavia
{% endblock %}

{% block content %}
    <span>Celular {{ id }} deletado com sucesso!</span>
    <button class="action-button">
        <a href="/">
            Voltar
        </a>
    </button>
{% endblock %}